.todo-name {
    padding: .75em;
}


.create_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 500px;
    justify-content: space-between;

    gap: 1em;

    >* {
        width: 100%;
    }
    
    >input {
        width: 100%;
    }
}

.column.align-left {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}


.todo-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}






.column {
    display: flex;
    flex-direction: column
}

.align-left {
    text-align: start;
}