.footer-ctn {
    height: 15vh;
    min-width: 100svw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);

    > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        list-style: none;
        padding: 0;
        margin: 0;
        color: white;

        > li > a {
            cursor: pointer;
            color: inherit;
        }
    }
}