.hero-ctn {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;

   &::before {    
    content: '';
    background-image: url('../assets/pexels-александар-цветановић-1422292.jpg');
    position: relative;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

&::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
    }
}

.tagline-ctn {
    padding: 1em;
    z-index: 1;
    text-align: left;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    >h1 {
        margin: 0;
        font-size: 5em;
    }
}

.cta {
    border: 2px solid #FFD33F;
    background-color: transparent;
    transition: 150ms ease-in-out all;
    border-radius: 0px;

    &:hover {
        border: 2px solid #49ceff;
        color:#49ceff
    }
}