.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    width: 75%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.navbar-logo {
    // margin-right: 2rem;
    padding: 0;
    background-image: url('../../public/logo.png');
    background-size:90%;
    background-repeat: no-repeat;
    height: 2.5em;
    width: 2.5em;
    display: flex;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}

.navbar-dropdown {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    display: none;
    padding: 0.5rem 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .navbar-dropdown-item {
        padding: 0.5rem 1rem;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.navbar-button:hover .navbar-dropdown {
    display: block;
}