.todo_list-ctn {
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.todo-ctn {
    display: flex;
    border: 1px solid rgba(211, 211, 211, 0.178);
    padding: .5em;
    justify-content: space-between;
    height: 1.8em;
    cursor: pointer;
}

.todo_left-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    width: 70%;
}

.todo_title-ctn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
}

.todo-delete {
    cursor: pointer;
    margin: .2em;
    height: 100%;
    color: rgb(78, 78, 78);

    transition: 100ms ease-in all;

    &:hover {
        color: white
    }
}

#category {
    border-radius: 100px;
    height: .7em;
    width: .7em;
    border: 1px solid rgba(128, 128, 128, 0.404);
}