:root {

  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 69%);
  --tertiary: hsl(0, 0%, 53%);
  --secondary-o20: hsla(0, 0%, 69%, 0.253);
  --tertiary-o20: hsla(0, 0%, 53%, 0.253);
  --accent: hsl(29, 100%, 50%);
  --dark: hsla(0, 14%, 3%, 0.774);
  --light: hsl(0, 0%, 100%);
  --font-color: black;
  --links: black;
  --type-1: hsla(39, 100%, 50%, 0.507);
  --type-2: rgba(255, 0, 255, 0.493);
  --type-3: rgba(128, 0, 128, 0.5);
  --type-4: #ea44357e;
  --type-5: #5b203394;
  --confirm: rgb(0, 151, 0);
  --cancel: salmon;
  --theme-dark: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--theme-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

* {
  // outline: 1px solid red;
  // margin: 0;
  // padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

 body {
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
 }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}